<footer class="footer">
	<div class="container">
		<div class="footer-content d-flex">
			<div>
				<ul class="footer-menu d-flex">
					<li><a href="#">首頁</a></li>
					<li><a href="index.html">系列鏡框</a></li>
					<li><a href="store.html">門市據點</a></li>
					<li><a href="#">部落格</a></li>
					<li><a href="#">常見問題</a></li>
				</ul>
				<div class="contact">
					<div>
						<span class="material-symbols-outlined"> call </span
						><a href="tel:+0800-000-000">0800-000-000</a>
					</div>
					<div>
						<span class="material-symbols-outlined"> mail </span
						><a href="mailto:glasses@business.com"
							>glasses@business.com</a
						>
					</div>
				</div>
			</div>
			<div class="ic-social">
				<ul class="d-flex">
					<li>
						<a href="#"
							><img
								src="../assets/images/ic-social-fb.png"
								alt="fb"
						/></a>
					</li>
					<li>
						<a href="#"
							><img
								src="../assets/images/ic_social_ig.png"
								alt="ig"
						/></a>
					</li>
					<li>
						<a href="#"
							><img
								src="../assets/images/ic_social_line.png"
								alt="line"
						/></a>
					</li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="footer-copyright d-flex">
			<p>Copyright © 2020 Glasses.All rights reserved.</p>
			<div class="privacy d-flex">
				<p class="privacy-p">隱私權政策</p>
				<p>服務條款</p>
			</div>
		</div>
	</div>
</footer>
