<header class="header">
	<div class="container container-sm">
		<div class="nav-menu d-flex">
			<div class="nav-img">
				<img src="../assets/images/logo-white.png" alt="logo-white" />
			</div>
			<ul class="menu d-flex">
				<li class="menu-item">
					<a href="index.html">系列鏡框</a>
				</li>
				<li class="menu-item">
					<a href="store.html">門市據點</a>
				</li>
				<li class="menu-item">
					<a href="#">部落格</a>
				</li>
				<li class="menu-item">
					<a href="#">常見問題</a>
				</li>
			</ul>
		</div>
	</div>
</header>
